<div class="row">
  <% @categories.each do |category| %>
    <% if category.products.where(featured: true).first.image.attached? %>
      <%= image_tag(category.products.where(featured: true).first.image, class: 'img-fluid') %>
    <% end %>
    <div class="col-12">
      <h1 style="text-align: center;"><%= category.heading %></h1>
      </hr>
    </div>
    <% @products.each do |product| %>
      <% if product.category == category %>
        <div class="col-4">
          <h5><%= product.name %></h5>
          <p><%= product.description %></p>
          <span><%= product.price %> <%= '| Available for catering' if product.catering %></span>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
